.section__init_tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
}

.section__init_tracker > h1 {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
}

.section__init_tracker > ul,
.form__addPlayer {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.06);
    text-align: center;
    width: 300px;
    min-height: 250px;
    max-height: 250px;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 10px;
}

.section__init_tracker > ul::-webkit-scrollbar {
    width: 10px;
}

.section__init_tracker > ul::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 5px;
}

.section__init_tracker > ul::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.438);
}

.section__init_tracker > ul > li {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: bold;
    margin: 3px;
}

.section__player_roll {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -5px;
}

.section__init_tracker_btn_container {
    display: flex;
    gap: 10px;
}

.button__init_tracker {
    background-color: #4c74a3;
    color: white;
    border: none;
    border-radius: 5px;
    width: 60px;
    text-align: center;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    transition: all 0.2s;
    padding: 10px;
    width: 80px;
}

.button__init_tracker:hover {
    cursor: pointer;
    background-color: #5c8fc9;
}

.button__init_start,
.button__init_begin {
    background-color: #488848;
}

.button__init_start:hover,
.button__init_begin:hover {
    background-color: #3aa13a;
}

.button__init_begin {
    width: 180px;
}

.button__init_clear,
.button__init_cancel {
    background-color: #a34c50;
}

.button__init_cancel {
    width: 100px;
}

.button__init_clear:hover,
.button__init_cancel:hover {
    background-color: #cc6065;
}

.button__roll_init {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #4c74a3;
    border: none;
    font-size: 25px;
    width: 36px;
    height: 35px;
    border-radius: 3px;
    transition: all 0.2s;
}

.button__roll_init:hover {
    cursor: pointer;
    background-color: #5c8fc9;
}

.button__end_combat {
    width: 140px;
}

.button__next_turn {
    width: 120px;
}

.form__addPlayer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    overflow-y: auto;
}

.input__init {
    width: 290px;
    text-align: center;
}

.input__roll {
    width: 230px;
    text-align: center;
    margin-top: 0;
}

.input__color {
    width: 300px;
    height: 35px;
}

.li__init_player,
.div__init_player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    max-height: 40px;
    text-align: center;
    border-radius: 10px;
}

.li__init_player > span,
.div__init_player > span {
    position: absolute;
    right: 10px;
}

.div__init_player {
    margin-bottom: 10px;
}

.ul__player_list {
    overflow-y: scroll;
    gap: 10px;
}

.ul__combat li:first-of-type {
    margin-bottom: 10px;
    border: 5px solid rgb(0, 0, 0);
}

.ul__combat h1 {
    font-family: var(--font-family);
    font-weight: bold;
    padding-left: 10px;
}

.span__init_player {
    display: flex;
    gap: 5px;
    font-size: 18px;
}

.span__init_player > *:hover {
    color: rgb(163, 163, 163);
    cursor: pointer;
}
