.section__dice_roller {
    width: 100%;
}

.div__encounter_top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}
