.button__sign_in,
.button__sign_in_google,
.button__sign_in_guest,
.button__sign_up {
    height: 40px;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.button__sign_in,
.button__sign_up {
    color: white;
    background-color: #a34c50;
}

.button__sign_in:hover,
.button__sign_up:hover {
    background-color: #c26f71;
    transition: all 0.2s;
}

.button__sign_up:disabled {
    background-color: #5e5e5e5b;
}

.button__sign_up:disabled:hover {
    background-color: #5e5e5e5b;
    cursor: not-allowed;
}

.button__sign_up {
    margin-top: 30px;
}

.button__sign_in_google {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #333;
    background-color: #ffffff;
    border: 1px solid gray;
}

.button__sign_in_google:hover {
    background-color: #ececec;
    transition: all 0.2s;
}

.button__sign_in_google > img {
    margin: 0 !important;
    width: 35px;
    height: 35px;
}

.button__sign_in_guest {
    color: white;
    background: #7c7676;
}

.button__sign_in_guest:hover {
    background: #aca3a3;
    transition: all 0.2s;
}
