.nav__main {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: #336e9e;
    z-index: 10;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: var(--font-family);
    font-weight: 700;
}

.nav__list li:hover {
    cursor: pointer;
    color: gray;
}

.nav__list li a {
    text-decoration: none;
    color: white;
}
