.form__login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label__email,
.label__password {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 10px;
}

.input__text {
    width: 258px;
    height: 30px;
    font-family: var(--font-family);
    font-weight: 600;
    margin-top: 10px;
}

.label__rememberMe {
    color: #7d7d7d;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 10px;
}

.input__rememberMe {
    width: 19px;
    height: 19px;
    vertical-align: -4px;
    cursor: pointer;
}

.text__sign_up,
.text__sign_up_link {
    font-family: var(--font-family);
    color: #7d7d7d;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text__sign_up_link {
    text-decoration: none;
    color: #743232;
    font-weight: 700;
}
