.form__login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label__form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 10px;
}

.input__text {
    width: 258px;
    height: 30px;
    font-family: var(--font-family);
    font-weight: 600;
    margin-top: 10px;
}

.label__rememberMe {
    color: #7d7d7d;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 10px;
}

.input__rememberMe {
    width: 19px;
    height: 19px;
    vertical-align: -4px;
    cursor: pointer;
}

.text__sign_up,
.text__sign_up_link {
    font-family: var(--font-family);
    color: #7d7d7d;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text__sign_up_link {
    text-decoration: none;
    color: #743232;
    font-weight: 700;
}

.text__password_requirement {
    color: #7d7d7d;
    font-size: 12px;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #00000091;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
    width: 258px;
    margin-bottom: 10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid,
.invalid {
    color: inherit;
    margin-left: 0.25rem;
    font-size: 18px;
}

.valid {
    color: limegreen;
}

.invalid {
    color: red;
}

.nameHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.errmsg {
    font-family: var(--font-family);
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    text-align: center;
    max-width: 258px;
}

.content__signup__success {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 258px;
    height: 400px;
}

.content__signup__success h1 {
    font-family: var(--font-family);
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
}
